@keyframes BtnToup {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes lefToriht {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 2;
    transform: translate(0px);
  }
}
@keyframes RighiTolefr {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
html {
  font-size: 62.5%;
}

* ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  background-color: white;
}

.container {
  background-color: #f7f7f7;
}

@font-face {
  font-family: "Lato Semibold" sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local("Lato Semibold");
  src: url(../fonts/Lato/Semibold.woff2) format("woff2");
  font-display: swap;
}
body {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-family: "Lato", sans-serif;
  color: #777777;
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  animation-name: lefToriht;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-size: 4rem;
  font-weight: 100;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: RighiTolefr;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  backface-visibility: hidden;
  transition: all 0.4s;
}
.title-secondary:hover {
  transform: skew(2deg) skew(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-trind {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraf {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 140%;
}

.text-aling-center {
  text-align: center;
}

.margin-botton-80px {
  margin-bottom: 8rem;
}

.margin-botton-10px {
  margin-bottom: 1rem;
}

.margin-botton-30px {
  margin-bottom: 3rem;
}

.margin-botton-50px {
  margin-bottom: 5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #777777;
  background: #ffffff;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToup 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px #A14F03 solid;
  display: inline-block;
  transform: 0.5 all;
}
.btn-text:hover {
  background-color: #A14F03;
  color: #ffffff;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 70%;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transform: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0rem;
}
.composition__photo_n2 {
  top: 9rem;
  left: 22rem;
}
.composition__photo_n3 {
  top: 16rem;
  left: 2rem;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale 0.95;
}

.header {
  position: relative;
  overflow: hidden;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/backround.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}
.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}
[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
}/*# sourceMappingURL=stails.css.map */