@font-face
   font-family: 'Lato Semibold' sans-serif
   font-weight: 600
   font-style: normal
   src: local('Lato Semibold')
   src: url(../fonts/Lato/Semibold.woff2) format('woff2')
   font-display: swap

body
   font-size: 1.6rem
   letter-spacing: .2rem
   font-family: 'Lato', sans-serif
   color: $color-gray

.title-first
   color: #FFFFFF
   &__main
      display: block
      font-size: 5rem
      font-weight: 700
      line-height: 6rem
      letter-spacing: 1rem
      margin-bottom: 1rem
      animation-name: lefToriht
      animation-duration: 1.7s
      animation-delay: 1s
      animation-timing-function: ease
      backface-visibility: hidden
   &__secondary
      display: block
      font-size: 4rem
      font-weight: 100
      line-height: 4.8rem
      letter-spacing: .5rem
      animation-name: RighiTolefr
      animation-duration: 1.7s
      animation-delay: 1s
      animation-timing-function: ease
      backface-visibility: hidden
      margin-bottom: 5rem
